
/* bagian html dan body */
html,body{
    min-width: 250px;
}
/* akhir bagian html dan body */

/* bagian head */
.head>h1{
    width: fit-content;
    margin: auto;
}
/* akhir bagian head */

/* bagian container */
.container{
    display: contents;
}
/* akhir bagian container */


/* bagian navbar */
.navbar>ul{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;

}
.navbar>ul li{
    list-style: none;
    padding: 5px;
}

/* akhir bagian navbar */